<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReviewMapper">

  <!-- 리뷰 읽기 -->
  <select id="read" resultType="org.zerock.domain.ReviewVO">
    select review_id, review_title, restaurant_name, review_content, 
    writer_name, rating, region, register_date, count, image_path as imagePath 
    from review_board 
    where review_id = #{review_id}
  </select>

  <!-- 리뷰 리스트 -->
  <select id="getList" resultType="org.zerock.domain.ReviewVO">
    select * from review_board where review_id > 0
  </select>

  <!-- 리뷰 등록 -->
  <insert id="insert">
	  insert into review_board 
	  (review_id, review_title, restaurant_name, review_content, register_date, writer_name, rating, region, image_path) 
	  values 
	  (re_board.nextval, #{review_title}, #{restaurant_name}, #{review_content}, SYSDATE, #{writer_name}, #{rating}, #{region}, #{imagePath})
</insert>

  <!-- 리뷰 등록 SelectKey -->
  <insert id="insertSelectKey">
    <selectKey keyProperty="review_id" order="BEFORE" resultType="long">
      select re_board.nextval from dual
    </selectKey>
    insert into review_board 
    (review_id, review_title, restaurant_name, review_content, register_date, writer_name, rating, region, image_path) 
    values 
    (re_board.nextval, #{review_title}, #{restaurant_name}, #{review_content},
     <if test="register_date != null">#{register_date, jdbcType=TIMESTAMP}</if>
     <if test="register_date == null">SYSDATE</if>,
     #{writer_name}, #{rating}, #{region}, #{imagePath})
  </insert>

  <!-- 리뷰 삭제 -->
  <delete id="delete">
    delete from review_board where review_id = #{review_id}
  </delete>

  <!-- 리뷰 수정 -->
  <update id="update">
    update review_board 
    set review_title = #{review_title}, 
        restaurant_name = #{restaurant_name},
        review_content = #{review_content}, 
        rating = #{rating},
        region = #{region},
        image_path = #{imagePath}
    where review_id = #{review_id}
  </update>

  <!-- 조회수 증가 -->
  <update id="updateCount">
    update review_board
    set count = count + 1
    where review_id = #{review_id}
  </update>

  <!-- 검색 조건 (괄호 추가) -->
  <sql id="criteria"> 
    <trim prefix="(" suffix=")" prefixOverrides="OR" suffixOverrides="OR">
      <foreach collection="typeArr" item="type" separator="OR">
		  <if test="type == 'T'.toString()">
		    review_title LIKE '%' || #{keyword} || '%'
		  </if>
		  <if test="type == 'C'.toString()">
		    review_content LIKE '%' || #{keyword} || '%'
		  </if>
		  <if test="type == 'W'.toString()">
		    writer_name LIKE '%' || #{keyword} || '%'
		  </if>
		  <if test="type == 'R'.toString()">
		    region LIKE '%' || #{keyword} || '%'
		  </if>
		</foreach>
    </trim>
  </sql>

  <!-- 페이징 처리 (중첩 select + rownum) -->
  <select id="getListWithPaging" resultType="org.zerock.domain.ReviewVO">
    <![CDATA[
    select * from (
      select rownum rn, A.*
      from (
        select review_id, review_title, restaurant_name, review_content,
               writer_name, rating, region, register_date, count, image_path
        from review_board
    ]]>
      <where>
        <include refid="criteria"/>
      </where>
    <![CDATA[
        order by review_id desc
      ) A
      where rownum <= #{pageNum} * #{amount}
    )
    where rn > (#{pageNum} - 1) * #{amount}
    ]]>
  </select>

  <!-- 총 레코드 수 조회 -->
  <select id="getTotalCount" resultType="int">
    select count(*) from review_board
    <where>
      <include refid="criteria" />
    </where>
  </select>

</mapper>
