*{margin: 0; padding: 0;}
a{text-decoration: none; color: #333;}
ul, li{list-style: none;}
html, body{height: 100%;}

#main{width: 1200px; height: 100%; background: #eee; margin: auto; }

header{width: 1200px; height: 100px; float: left; background: #fff3e0;}
#logo{width: 200px; height: 100px; float: left; background: #fff3e0;}
#logo a>img{width: 100px; height: 100px; margin-left: 50px;}

#menu{font-size: 18px; margin-left: 40px; float: left; line-height: 100px;}
#menu li{padding: 5px; padding-right: 15px; float: left;}
#menu li>a{color:#e64522; font-weight: bold;}

#spot{font-size: 16px; margin-left: 40px; float: right; line-height: 100px;
        margin-right: 40px;}
#spot li{padding: 5px; float: right;}

nav{width: 200px; height:calc(100% - 100px); float: left; background: #ffb347;
    margin-top: 100px; position: absolute;}

.menu li{width: 200px; line-height: 45px; text-align: center; font-size: 20px;
        background: #ffb347; position: relative;}
.menu li:hover{background: #ffe0b4;}
.menu li>a{color: #fff; font-weight: bold; letter-spacing :3px;}

.menu >.none{width: 200px; height: 90px; text-align: center;}
.menu >.none>a{font-size: 30px; position: relative; top: 25px; color:#e64522;}
.menu >.none:hover{background: #ffb347;}
.menu li.none {
  border-bottom: 2px solid#fffdf9;
  padding-bottom: 8px;
}
.sub{display: none;}
.sub li{width: 200px; line-height: 40px; text-align: center; font-size: 16px;
        background: #fff;}
.sub li:hover{background: #eee;}
.sub li>a{color: #333; font-weight: normal;} 




#body{width: calc(100% - 200px); height: calc(100% - 100px); float: left;
        background: #fffdf9;
        margin-left: 200px; position: relative;}

.main-title {
        color: #e64522;
        width: fit-content; 
        margin: 0 auto;    
        position: relative;
        font-size: 55px;    
        padding: 25px 0; 
        }

#list{ width: 80%;     
  margin: 0 auto;       
  padding: 20px 0;} 


/* Controls: 정렬 + 검색 영역 */
.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #ffb347;
  color: white;
  padding: 10px 35px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 140px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search box */
.search {
  display: flex;
 
}

#searchForm>select{
  font-size: 16px; 
  border-radius: 5px 5px 5px 5px;
  padding: 8px 8px;
}

.search input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  width: 200px;
}

.search button {
  padding: 10px;
  font-size: 14px;
  background-color: #ffb347;
  color: white;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}


.board-table tbody tr td {
  background: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 2px solid #eee;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #fff;
}

.review-row td {
  background-color: #fff;
}

/* 특정 열 숨기기: 사진/내용 */
th:nth-child(7), td:nth-child(7) {
display: none;
}

.pagination {
  text-align: right;
  margin-top: 16px;
}

.pagination-button {
  background-color: #ffb347;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

                
